.top-bar
	.top-bar-left
		ul.dropdown.menu(data-dropdown-menu="")
			li.menu-text Melp 
			li
				a(href="#") Sort by 
				ul.menu.vertical
					li
						a(href="#") Rating 
					li
						a(href="#") Name 
			li
				a(href="#") Nearest restaurant 
			li
				a(href="#") Recommendations  
	.top-bar-right
		ul.menu
			li
				input(type="search" placeholder="Search")
			li
				button.button(type="button") Search
